.bordered {
  border: 1px solid #6a5126 !important;
}

.form {
  margin-bottom: 20px;
}

.p-4 {
  padding: 1.5rem;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.rounded {
  border-radius: 0.25rem;
}

.mb-3 {
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 0.5rem;
  margin-right: 10px;
  display: flex;
  width: 100%;
  font-size: 17px;
  text-align: left;
  align-items: center;
}

.form-control,
.form-select {
  font-size: 15px;
  display: flex;
  width: calc(100% - 20px);
  border-radius: 0.25rem;
  padding: 7px;

  &:focus {
    outline: none;
  }
}

.form-select {
  width: calc(100% - 5px);
}

.btn {
  background-color: antiquewhite;

  @media (max-width: 1199px) {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    font-size: 11px;
  }

  &:focus {
    box-shadow: none;
  }

  &.active {
    background-color: #efdabf;
  }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #6a5126;
  border-color: #6a5126;
  padding: 10px;
  color: #fff;
  border-radius: 0.25rem;
  box-shadow: none;
  width: 150px;
  cursor: pointer;
  border-style: none;
  margin-top: 15px;
  text-align: center;
}
