.signform {
  height: 100vh;
  background-image: url('../../components/img/paper-1074131_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -8px;
}

.loginform {
  padding: 40px;
  border: 2px solid #6a5126;
  background-color: burlywood;
  border-radius: 5px;
}

.title {
  color: #6a5126;
  font-size: 32px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin: auto;
}

.btn_signin {
  color: #6a5126;
  font-size: 28px;
  font-weight: 600;
  border: 2px solid #6a5126;
  background-color: antiquewhite;
  border-radius: 5px;
  display: block;
  margin: auto;
  padding: 10px;
  width: 350px;
  margin-top: 20px;
  cursor: pointer;
}
